/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.ce-chats-container > div,
.ce-settings {
  /* Chrome 10-25, Safari 5.1-6 */
  background: #ee7724 !important;
}

.ce-active-chat-card {
  border: 2px solid gray !important;
  background-color: rgb(200, 170, 78) !important;
}

.ce-chat-feed-container {
  background-color: rgb(200, 170, 78) !important;
}

.ce-chat-form-container,
.ce-chats-container {
  background-color: rgb(97, 83, 204) !important;
}

.ce-chat-title-text {
  color: black !important;
}

.ce-chat-title-container {
  background-color: slategrey !important;
}

.ce-chat-subtitle-text,
#ce-ice-breaker-text {
  color: whitesmoke !important;
}
.ce-chats-form-container {
  background-color: black;
}

.ce-settings-container {
  background: #ee7724, #d8363a, #dd3675, #b44593 !important;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
